<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824756688241-6968gb6qa722r87o52ktp1p4ali2k3ib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824756688241-6968gb6qa722r87o52ktp1p4ali2k3ib</string>
	<key>API_KEY</key>
	<string>AIzaSyCGIuQxraB6BiR_bmaNWVt0IpwYbm6viqg</string>
	<key>GCM_SENDER_ID</key>
	<string>824756688241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nalinda-Gamaarachchi.simplify1</string>
	<key>PROJECT_ID</key>
	<string>simplify-68d2f</string>
	<key>STORAGE_BUCKET</key>
	<string>simplify-68d2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824756688241:ios:3223a1392b90dd5ce112d0</string>
</dict>
</plist>